<div class="team_image"><img [src]="T.img" alt=""></div>

<div class="team_item  ">
    <div class="team_body">
        <div class="team_title"><a href="#">{{T.firstName}}-{{T.lastName}}</a></div>
        <div class="team_subtitle">{{T.speciality}}</div>
        <div class="team_subtitle">Gender:{{T.gender}}</div>
        <div class="team_subtitle">Status:{{T.status}}</div>
        <div class="team_subtitle">Role:{{T.role}}</div>
        <div class="team_subtitle">Adress:{{T.adress}}</div>
        <div class="team_subtitle">CIN:{{T.cin}}</div>
        <div class="team_subtitle">Status:{{T.status}}</div>
        <div class="team_subtitle">Email:{{T.email}}</div>
        <div class="social_list">
            <ul>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true">{{T.email}}</i></a></li>
            </ul>
        </div>
    </div>
</div>