<div *ngIf="!isDisplayed" class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->


            <!-- Home Slider Item -->


        </div>
    </div>

    <!-- Home Slider Nav -->


</div>