<div class="team">
    <div class="team_background parallax-window" data-parallax="scroll" data-image-src="assets/images/team_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">The Best Tutors in Town</h2>
                    <div class="section_subtitle">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            <div [class]="fnnn()" *ngFor="let t of users | paginate:{itemsPerPage: 3, currentPage:p}  ">
                <app-tutor [T]="t "></app-tutor>
            </div>
            <!-- {{findId}} -->
            <!-- Team Item -->


        </div>
    </div>
</div>
<div id="pagination" class="container">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>