<div class=" home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Edit my password</h2>
                    <div class="counter_text">


                    </div>
                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                        <!-- Milestone -->


                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="320">0</div>
                            <div class="milestone_text">years</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form mt-5">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center " (ngSubmit)="EditPassForm.form.valid && editPass()" #EditPassForm="ngForm">
                        <div class="counter_form_title">Edit password </div>






                        <input type="text" placeholder="password" class="counter_input " [(ngModel)]="user.password " name="password" #password="ngModel" [ngClass]="{ 'is-invalid': EditPassForm.submitted &&
                            password.invalid }" required>
                        <div *ngIf="EditPassForm.submitted && password.invalid" class="text-danger">
                            <div *ngIf="password.errors.required"> Password is required
                            </div>
                        </div>
                        <div class="text-danger">{{messageCurrent}}</div>

                        <input type="text" placeholder="New password" class="counter_input " [(ngModel)]="user.newPass " name="newPass" #newPass="ngModel" [ngClass]="{ 'is-invalid': EditPassForm.submitted &&
                        newPass.invalid }" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,12}$">
                        <div *ngIf="EditPassForm.submitted && newPass.invalid" class="text-danger">
                            <div *ngIf="newPass.errors.required"> Password is required
                            </div>
                            <div *ngIf="newPass.errors.pattern"> Password must contain more than 6 characters ,Less than 12 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
                            </div>
                        </div>
                        <div class="text-danger">{{messageNew}}</div>

                        <input type="text" placeholder="re password" class="counter_input " [(ngModel)]="user.rePass " name="rePass" #rePass="ngModel" [ngClass]="{ 'is-invalid': EditPassForm.submitted &&
                        rePass.invalid }" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,12}$">
                        <div *ngIf="EditPassForm.submitted && rePass.invalid" class="text-danger">
                            <div *ngIf="rePass.errors.required"> Password is required
                            </div>
                            <div *ngIf="rePass.errors.pattern"> Password must contain more than 6 characters ,Less than 12 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
                            </div>
                        </div>
                        <!-- equals-to="registerForm.Password" -->
                        <div class="text-danger">{{messageNew}}</div>

                        <button type="submit" class="counter_form_button">Edit</button>
                        <div class="text-danger">{{message}}</div>

                    </form>
                    <!-- <form class="counter_form_content d-flex flex-column align-items-center justify-content-center " (ngSubmit)="EditPassForm.form.valid && editPass()" #EditPassForm="ngForm">
                        <div class="counter_form_title">Edit password</div>
                        <input type="text" placeholder="current password" class="counter_input " [(ngModel)]="user.password " name="password" #password="ngModel" required>

                        <input type="text" placeholder="new password" class="counter_input " [(ngModel)]="user.newpass " name="newpass" #newpass="ngModel" [ngClass]="{ 'is-invalid': editPassForm.submitted &&
                        newpass.invalid }" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,12}$">
                        <div *ngIf="editPassForm.submitted && newpass.invalid" class="text-danger">
                            <div *ngIf="newpass.errors.required"> Password is required
                            </div>
                            <div *ngIf="newpass.errors.pattern"> Password must contain more than 6 characters ,Less than 12 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
                            </div>
                        </div>
                        <input type="text" placeholder="reinsert password" class="counter_input " [(ngModel)]="user.rePass " name="rePass" #rePass="ngModel" [ngClass]="{ 'is-invalid': editPassForm.submitted &&
                        rePass.invalid }" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,12}$">
                        <div *ngIf="editPassForm.submitted && rePass.invalid" class="text-danger">
                            <div *ngIf="rePass.errors.required"> Password is required
                            </div>
                            <div *ngIf="rePass.errors.pattern"> Password must contain more than 6 characters ,Less than 12 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
                            </div>
                        </div>


                        <button type="submit" class="counter_form_button">Edit</button>
                        <div class="text-danger">{{message}}</div>

                    </form> -->

                </div>
            </div>
        </div>

    </div>
</div>