<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>404</h1>
            <h2>The page you are looking for doesn't exist.</h2>
            <a class="btn" routerLink="">Back to home</a>
            <img src="../../assets/images/not-found.svg" class="img-fluid py-5" alt="Page Not Found">

        </section>

    </div>
</div>