<div class="courses">

    <div class="container mt-5">
        <form>
            <div class="d-flex flex-row align-items-center justify-content-start">
                <input type="text" name="a" class="counter_input " [(ngModel)]="searched" placeholder="search name">


            </div>
        </form>
    </div>

    <div class="course big-table">

        <table class="table custom-table ">
            <thead>
                <tr>

                    <th>First name</th>
                    <th>Last name</th>
                    <th>email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>speciality</th>
                    <th>cin</th>
                    <!-- <th>pwd</th> -->
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <!-- t: objet // teams: tableau d objet -->
                <tr *ngFor="let t of pageOfItems    ">

                    <!-- variable {{}} -->
                    <td>{{t.firstName}}</td>


                    <td>{{t.lastName}}</td>
                    <td>{{t.email}}</td>
                    <td>{{t.gender | custumGender}}</td>
                    <td><span [ngClass]="{green: t.status=='ok', red: t.status=='notOk' }">{{t.status}}</span></td>
                    <td> <span [ngStyle]="{color: roleStyle(t.role)}">{{t.role}}</span></td>
                    <td>{{t.speciality}}</td>
                    <td><span [ngStyle]="{color: roleStyle(t.role)}">{{t.cin}}</span></td>
                    <!-- <td>{{t.password |custumPassword}}</td> -->
                    <td><button (click)="goToDisplay(t._id)" class="btn btn-success ml-2">display</button><button class="btn btn-warning ml-2" (click)="goToEdit(t._id)">edit</button><button class="btn btn-danger ml-2" (click)="deleteUserById(t._id)">delete</button></td>
                </tr>



            </tbody>
        </table>

        <div class="card-footer pb-0 pt-3">
            <jw-pagination [pageSize]="2" [items]="users |filterUser:searched " (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>


    <div class="col fill_height container" *ngIf="isDisplayed">

        <form class="counter_form_content d-flex flex-column align-items-center justify-content-center " #EditForm="ngForm" (ngSubmit)="EditForm.form.valid && edit()">


            <div class="row">
                <div>
                    <select class="counter_input " name="role" [(ngModel)]="obj.role" #role="ngModel">
                    <option name="b" value="tutor">Tutor</option>
                    <option name="c" value="student">Student</option>
                </select>

                </div>
                <div>
                    <input type="text" class="comment_input" name="speciality" [(ngModel)]="obj.speciality" #speciality="ngModel" />

                </div>
                <div>
                    <select class="counter_input " name="status" [(ngModel)]="obj.status" #status="ngModel">
                    <option name="bb" value="ok">Ok</option>
                    <option name="cc" value="notOk">Not Ok</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-warning">Edit</button>

            </div>
        </form>

    </div>
</div>