<div class="container">
    <div class="course_image"><img class="profileI" [src]="newTab.img" alt="">

    </div>
    <div class="course_info">
        <h3 class="course_title"><a href="">First Name:{{newTab.firstName}}</a></h3>
        <h3 class="course_title"><a href="">Last Name :{{newTab.lastName}}</a></h3>
        <div class="course_teacher fa fa-star ">Gender:{{newTab.gender}}</div>
        <div> <i class="fa fa-star" aria-hidden="true"><span>Tel:{{newTab.tel}}</span></i>
        </div>
        <div class="course_text">
            <p>{{newTab.speciality}}</p>
        </div>
    </div>
    <div class="">
        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
            <div class="course_info">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span>Email:{{newTab.email}} </span>


            </div>
            <div class="course_info">
                <i class="fa fa-star" aria-hidden="true">  Cin:{{newTab.cin}}
                </i>
            </div>
            <div class="course_price ml-auto">{{newTab.adresse}}</div>
        </div>
    </div>
</div>